{% extends "base.html" %}

{% block nav_item_todo %}active{% endblock nav_item_todo %} 

{% block content %}
    <h1> To Do Lists </h1>
    
    <div class="row justify-content-center">
        {%for titlelist in task_list_todo %}
            <div class="card text-white bg-secondary" >
                <div class="card-header text-center">
                    <h3 class="card-title  ">
                        <p><a href="{% url 'list-detail' pk=titlelist.pk %}" class="text-light">
                            {{ titlelist }}
                        </a></p>
                        <a href="{% url 'task-add'  titlelist.id %}" class="btn text-dark btn-light ">Add Item</a>
                    </h3>
                </div>
            {%for tasks in titlelist.taskitem_set.all %}
                <ul class="list-group">
                    <li class="list-group-item" > 
                        <strong>{{tasks}}</strong>
                        <p class="task-details">
                            Due Date: {{tasks.due_date| date:"l, F j"}}<br>
                            Description: {{tasks.description}}
                        </p>
                    </li>
                </ul>    
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}